@import url("style/header.css");
@import url("style/banner.css");

:root{
    --cor-de-fundo:#bcb0e9;
    --branco:#bcb0e9;
    --laranja: #EB9B00;
    --preto:#000000;
    --azul-degrade: #261569;
    --fonte-principal:"Poppins";
    --fonte-secundaria:"Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
